@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
#wrap header {
  height: 100px;
}

#wrap header .top {
  /* position: relative; */
  width: 1600px;
  height: 100px;
  margin-left: -189px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .logo a img {
  float: left;
  width: 210px;
  height: 70px;
  position: relative;
  margin-left: 100px;
  padding: 30px;
}

#wrap .menu {
  /* float: right; */
  align-items: center;
}
#wrap .menu > ul {
  height: 100px;
}
#wrap .menu > ul > li {
  float: left;
  position: relative;
  width: 142px;
  font-size: 19px;
  font-weight: bold;
}
#wrap .menu > ul > li > a {
  display: block;
  line-height: 100px;
  text-align: center;
  position: relative;
}
#wrap .menu > ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #ff7700;
  transform: scaleX(0);
  transition: 0.5s;
}
#wrap .menu > ul > li:hover > a::after {
  transform: scaleX(1);
}
#wrap .menu > ul .sub {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  z-index: 11;
  font-weight: normal;
  font-size: 16px;
  /* background: rgba(255,255,255,0.5); */
  /* 메뉴 펼쳤을 때 글씨 기본. */
}

#wrap .menu > ul:hover .sub {
  height: 320px;
  padding: 20px 0;
}
#wrap .menu > ul .sub.on {
  height: 320px;
  padding: 20px 0;
}
#wrap .menu > ul .sub li {
  line-height: 40px;
  text-align: center;
}

#wrap .menu > ul .sub li:hover a {
  color: rgb(255, 255, 255);
  display: block;
}
#wrap .menu .bg {
  position: absolute;
  width: 1600px;
  height: 0px;
  top: 100px;
  left: 0;
  z-index: 10;
  transition: 0.5s;
}
#wrap .menu:hover .bg {
  height: 360px;
  width: 100%;
  background-color: rgba(255, 197, 71, 0.8);
}

/* #wrap {
  width: 1903px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap header {
  width: 100%;
}
#wrap .logo {
  float: left;
  width: 58px;
  height: 58px;
}
#wrap .menu {
  float: right;
}
#wrap .menu > ul {
  width: 1400px;
  height: 100px;
  text-align: center;
}

/* #wrap .menu > ul > li > a {
  font-weight: bold;
  display: block;
  padding: 0 30px;
} */
/* .videoWrap {
} */

/* 갖고 온 거 */

h1 {
  font-size: 35px;
  line-height: 56px;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 38px;
  color: rgb(137, 126, 126);
}
h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
.wrap {
  max-width: 1440px;
  margin: 0 auto;
}
.nav {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.nav li {
  cursor: pointer;
  text-align: center;
}
.nav li:hover h2 {
  color: #000;
}
.nav li p {
  width: 85px;
  height: 80px;
}
.nav li p img {
  width: 100%;
  height: 100%;
}
/* 클릭이벤트 css */
.con {
  position: absolute;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  opacity: 1;
  transition: 0.5s;
}
/* 여기 오파시티1줘서 안보였음 */
.con.on {
  opacity: 1;
}
.con li {
  width: calc((1440px - 60px) / 3);
  padding: 30px;
  border: 1px solid #f3e3e3;
  box-sizing: border-box;
  border-radius: 16px;
}
.con li a .gnb {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
}

.con li a p {
  overflow: hidden;
  margin-bottom: 22px;
  border-radius: 10px;
}
.con li a p img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 11px;
  transition: 0.5s;
  transform: scale(1);
}
.con li a p img.on {
  transform: scale(1.2);
}
/* 까지 */
/* 카레 콘 카르네 시작부분 */
ul.txt {
  width: 1470px;
  height: 470px;
  margin: 0 auto;
}
ul.txt li {
  float: left;
}
ul.txt li p {
  padding: 10px;
}
ul.txt li a > p {
  font-size: 18px;
  font-weight: bold;
}

ul.txt li a > p > img {
  width: 337px;
  height: 337px;
  float: left;
  position: relative;
  border-radius: 20px;
}

/* 푸터 시작 css */

#footer .footer_box {
  height: 328px;
  padding: 52px 20px;
  border-top: 1px solid rgb(61, 57, 57);
  margin-top: 70px;
}
#footer .footer_box .footer_inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#footer .footer_box .footer_inner .footer_order {
  position: relative;
}
#footer .footer_box .footer_inner .footer_order .tel {
  font-size: 30px;
  color: #000000;
  font-weight: 500;
}
#footer .footer_box .footer_inner .select_language {
  position: absolute;
  right: 49px;
  bottom: 212px;
  width: 150px;
}
#footer .footer_box .footer_inner .select_language select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #111;
}
#footer .footer_box .footer_inner .ft_contents {
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}
#footer .footer_box .footer_inner .ft_contents li {
  float: left;
  padding: 10px 10px 10px 0;
}
#footer .footer_box .footer_inner .ft_content s li a {
  font-size: 16px;
  color: #888888;
}
#footer .footer_box .footer_inner .ft_contents li:nth-child(2) a {
  font-weight: 500;
  color: #111111;
}

#footer .footer_box .footer_inner .app_wrap .app_list {
  position: absolute;
  right: 7px;
  bottom: 155px;
}
#footer .footer_box .footer_inner .app_wrap li {
  float: left;
}
#footer .footer_box .footer_inner .app_wrap li:nth-child(3) a {
  vertical-align: -3px;
}
#footer .footer_box .footer_inner .app_wrap a {
  color: #000000;
  font-size: 13px;
  padding: 0 10px;
}
#footer .footer_box .footer_inner .ft_info {
  margin: 20px 0;
}
#footer .footer_box .footer_inner .ft_info p {
  font-size: 15px;
  padding: 2px 0;
  color: #888888;
}
/* 서울특별시 어쩌구 하단에 글씨 색깔임 */
#footer .footer_box .footer_inner .ft_info .notice {
  margin: 20px 0;
}

#footer .footer_box .footer_inner .sns_wrap .sns_list {
  position: absolute;
  right: 0;
  bottom: 0;
}
#footer .footer_box .footer_inner .sns_wrap .sns_list li {
  float: left;
  padding: 0 10px;
}

#footer .awards_wrap .inner_awards {
  background: #f5f5f5;
  padding: 30px 0;
  margin-top: 50px;
}
#footer .awards_wrap .inner_awards ul {
  text-align: center;
}
#footer .awards_wrap .inner_awards ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 44px;
}

#footer .awards_wrap .inner_awards ul li p {
  display: inline-block;
  font-size: 11px;
  color: #888888;
  padding: 0 7px;
}

.quick_wrap {
  display: none;
}

.ft_btn {
  display: none;
}
#footer .footer_box .footer_inner .m_info {
  display: none;
}
#footer .footer_box .footer_inner .m_info_txt {
  display: none;
}
