body,html{font-family: 'Pretendard'; overflow-x: hidden;}
button{border: none; padding: 0; cursor: pointer; background-color: transparent;}
a{display: block;}
.wrap{
	position: relative; margin: 0 auto;
	width: calc(100% - 80px);
}
.wrap[max='1920']{max-width: 1920px; width: 100%;}
.wrap[max='1440']{max-width: 1440px;}
.wrap[max='1280']{max-width: 1280px;}

.hidden{
	width: 0; height: 0; opacity: 0;
}

.noneAtag a{
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}


@media screen and (max-width:480px) {
	.wrap{width: calc(100% - 40px);}
}

/* 헤더 */
header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
    transition: background-color 0.2s;
  }
  header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  header .wrap .logo {
    position: relative;
    height: 100%;
  }
  header .wrap .logo.none {
    z-index: -1;
  }
  header .wrap .logo a {
    height: 100%;
    display: flex;
    align-items: center;
  }
  header .wrap .logo a img {
    width: 216px;
  }
  header .wrap .logo a .red {
    display: none;
  }
  header .wrap .gnb {
    display: flex;
    height: 100%;
    margin-right: -40px;
  }
  header .wrap .gnb > li {
    height: 100%;
    position: relative;
  }
  header .wrap .gnb > li > a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 0 40px;
    height: 100%;
    transition-duration: 0.2s;
  }
  header .wrap .gnb > li .lnb {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 5px;
    transform: translateY(100%);
    background-color: #fff;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 8px;
    z-index: 2;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  header .wrap .gnb > li .lnb li a {
    width: 240px;
    padding: 20px 0;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    transition: color 0.3s;
    background-color: #fff;
  }
  header .wrap .gnb > li .lnb li a:hover {
    color: #E70017;
  }

  /* 모바일 메뉴 */
  header .wrap .mo-menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 21px;
  }
  header .wrap .mo-menu .ham {
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    padding: 14px;
    transform: translate(14px, -14px);
  }
  header .wrap .mo-menu .ham div {
    width: 18px;
    height: 2px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s;
  }
  header .wrap .mo-menu .ham div:nth-of-type(2) {
    margin: 4px 0;
  }
  header .wrap .mo-menu .ham.on {
    transform: translate(17px, -10px);
  }
  header .wrap .mo-menu .ham.on div {
    background-color: #000;
    width: 21px;
  }
  header .wrap .mo-menu .ham.on div:nth-of-type(1) {
    transform: translateY(6px) rotate(45deg);
  }
  header .wrap .mo-menu .ham.on div:nth-of-type(2) {
    opacity: 0;
  }
  header .wrap .mo-menu .ham.on div:nth-of-type(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  header .wrap .menu-area {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    background-color: #fff;
    position: absolute;
    top: -21px;
    right: -40px;
    width: 100vw;
    max-width: 360px;
    padding-top: 68px;
  }
  header .wrap .menu-area .logo {
    position: absolute;
    height: auto;
    top: 18px;
    left: 40px;
  }
  header .wrap .menu-area .gnb-mo {
    height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
    overflow: auto;
  }
  header .wrap .menu-area .gnb-mo::-webkit-scrollbar {
    width: 4px;
  }
  header .wrap .menu-area .gnb-mo::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  header .wrap .menu-area .gnb-mo > li > div {
    padding: 20px 16px 20px 40px;
    position: relative;
  }
  header .wrap .menu-area .gnb-mo > li > div span {
    font-size: 20px;
    font-weight: 800;
  }
  header .wrap .menu-area .gnb-mo > li > div small {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  header .wrap .menu-area .gnb-mo > li > div small img{
    width: 24px;
  }
  header .wrap .menu-area .gnb-mo > li > div small.on {
    transform: rotate(180deg);
  }
  header .wrap .menu-area .gnb-mo > li .lnb {
    display: none;
  }
  header .wrap .menu-area .gnb-mo > li .lnb li a {
    padding: 12px 16px 12px 40px;
    font-weight: 500;
    color: #4B4B4B;
  }
  header .wrap .menu-area.on {
    opacity: 1;
    transform: translateX(0);
  }


  /* 스크롤시 헤더 */
  header.on {
    background-color: #fff;
  }
  header.on .logo a img.white {
    display: none;
  }
  header.on .logo a img.red {
    display: block;
  }
  header.on .wrap .gnb > li > a {
    color: #000;
  }
  header.on .wrap .mo-menu .ham div {
    background-color: #000;
  }
  @media screen and (max-width: 1600px) {
    header .wrap .gnb > li .lnb li a {
      width: 160px;
      padding-left: 0;
      justify-content: center;
    }
    header .wrap .gnb > li .lnb {
      left: 50%;
      transform: translate(-50%, 100%);
    }
    header .wrap .gnb > li:last-child .lnb {
      left: 20px;
    }
  }
  @media screen and (max-width: 1024px) {
    header .wrap .logo a img {
      width: 154px;
    }
    header .wrap .gnb {
      margin-right: -30px;
    }
    header .wrap .gnb > li > a {
      padding: 0 30px;
    }
    header .wrap .gnb > li:last-child .lnb {
      left: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    header {
      height: 56px;
    }
    header .wrap .gnb {
      display: none;
    }
    header .wrap .mo-menu {
      display: block;
    }
    header .wrap .menu-area .gnb-mo > li > div small {
      right: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    header .wrap .menu-area {
      right: -20px;
    }
    header .wrap .menu-area .gnb-mo > li > div small {
      right: 15px;
    }
    header .wrap .menu-area .logo {
      left: 20px;
    }
    header .wrap .menu-area .gnb-mo > li > div {
      padding: 20px 16px 20px 18px;
    }
    header .wrap .menu-area .gnb-mo > li .lnb li a {
      padding: 12px 16px 12px 20px;
    }
  }

  /* 회색 배경
  .gray-bg{
        position: fixed; width: 100%; height: 100vh;
        left: 0; top: 0; z-index: 100;
        background-color: rgba(0,0,0,0.5);
   } */

  header .wrap .mo-menu .gray-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    cursor: pointer;
  }



  /* 푸터 */
  footer {
    box-sizing: border-box;
    padding: 80px 0;
    background-color: #F8F8F8;
    color: #4B4B4B;
  }
  footer .bar {
    display: inline-block;
    margin-right: 17px;
    position: relative;
  }
  footer .bar::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #A8A8A8;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
  }
  footer .wrap .txt-box {
    font-size: 0;
    font-weight: 400;
  }
  footer .wrap .txt-box .top {
    font-size: 16px;
  }
  footer .wrap .txt-box .top a {
    display: inline-block;
  }
  footer .wrap .txt-box .top a:nth-of-type(1) {
    font-weight: bold;
  }
  footer .wrap .txt-box .top a:nth-of-type(2) {
    font-weight: 500;
  }
  footer .wrap .txt-box .info {
    margin: 22px 0;
    font-size: 16px;
    line-height: 1.8;
  }
  footer .wrap .txt-box .info span {
    display: inline-block;
    text-decoration: none !important;
  }
  footer .wrap .txt-box .info span a{
    text-decoration: none !important;
  }
  footer .wrap .txt-box .info .col {
    display: inline-block;
  }
  footer .wrap .txt-box .copy {
    font-size: 16px;
  }
  footer .wrap .sns {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
  }
  footer .wrap .sns a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
  }
  footer .wrap .sns a:nth-of-type(1) {
    margin-left: 0;
  }
  footer .wrap .sns a img {
    width: 32px;
  }
  @media screen and (max-width: 1280px) {
    footer .wrap .sns {
      position: unset;
      margin-top: 32px;
    }
  }
  @media screen and (max-width: 1024px) {
    footer {
      padding: 60px 0;
    }
    footer .wrap .txt-box .top, footer .wrap .txt-box .info, footer .wrap .txt-box .copy {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    footer .bar {
      margin-right: 13px;
    }
    footer .bar::after {
      right: -9px;
    }
    footer .wrap .txt-box {
      padding-right: 50px;
      box-sizing: border-box;
    }
    footer .wrap .txt-box .top, footer .wrap .txt-box .info, footer .wrap .txt-box .copy {
      font-size: 12px;
    }
    footer .wrap .sns a {
      margin-left: 12px;
    }
    footer .wrap .sns a img {
      width: 24px;
    }
  }
  @media screen and (max-width: 480px) {
    footer {
      text-align: center;
      padding-bottom: 80px;
    }
    footer .bar::after {
      height: 8px;
    }
    footer .wrap .txt-box {
      padding-right: 0;
    }
    footer .wrap .txt-box .info {
      margin: 24px 0;
    }
    footer .wrap .txt-box .info span.mo-none {
      display: none;
    }
    footer .wrap .txt-box .info .col {
      display: block;
      font-size: 0px;
    }
    footer .wrap .txt-box .info .col span {
      font-size: 12px;
    }
    footer .wrap .txt-box .info .col span:nth-of-type(1) {
      margin-right: 12px;
    }
    footer .wrap .txt-box .info .col .bar:nth-of-type(1)::after {
      display: block;
      right: -6px;
    }
    footer .info .bar {
      margin-right: 0;
    }
    footer .info .bar::after {
      display: none;
    }
    footer .wrap .sns {
      justify-content: center;
    }
    footer .wrap .sns a {
      margin-left: 12px;
    }
    footer .wrap .sns a img {
      width: 24px;
    }
  }


  /* 탑버튼, 가맹문의 */
  .fixed-btn {
    position: fixed;
    bottom: 60px;
    right: 70px;
    z-index: 50;
    transition: all 0.5s;
  }
  .fixed-btn .btn {
    opacity: 1;
    transform: scale(1);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
  }
  .fixed-btn .btn span {
    font-size: 24px;
    line-height: 28px;
  }
  .fixed-btn .top {
    flex-direction: column;
    background-color: #000;
  }
  .fixed-btn .top img {
    width: 24px;
  }
  .fixed-btn .top span {
    font-family: 'Mont-Bold';
    color: #fff;
    margin-bottom: 3px;
  }
  .fixed-btn .inquiry {
    margin-top: 12px;
    background-color: #fff;
  }
  .fixed-btn .inquiry span {
    font-weight: 900;
    color: #FF233D;
  }
  .fixed-btn.none {
    right: -200px;
  }
  .fixed-btn.none .btn {
    transform: scale(0);
    opacity: 0;
  }
  @media screen and (max-width: 1280px) {
    .fixed-btn {
      bottom: 32px;
      right: 24px;
    }
    .fixed-btn .btn {
      width: 60px;
      height: 60px;
    }
    .fixed-btn .btn span {
      font-size: 14px;
      line-height: 16px;
    }
    .fixed-btn .top {
      margin-bottom: 8px;
    }
    .fixed-btn .top img {
      width: 16px;
    }
  }
  @media screen and (max-width: 480px) {
    .fixed-btn {
      bottom: 16px;
      right: 12px;
    }
    .fixed-btn .btn {
      width: 56px;
      height: 56px;
    }
  }




/* 메인 팝업관리 */
.modalBg {
    width: 100vw;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 999;
  }
  .modalBg .wrap {
    max-width: 1480px;
    display: flex;
  }
  .modalBg .wrap._mob .modalPop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    width: 90%;
    max-width: 480px;
    margin-right: 0;
  }
  .modalBg .wrap._mob .swiper-pagination {
    bottom: 20px;
  }
  .modalBg .wrap._mob .swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 0 6px;
  }
  .modalBg .bg {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .modalBg .modalPop {
    width: calc(480 / 1480 * 100%);
    border-radius: 16px;
    overflow: hidden;
    margin-right: calc(20 / 1480 * 100%);
  }
  .modalBg .modalPop:last-of-type {
    margin-right: 0;
  }
  .modalBg .modalPop.hide {
    z-index: -1;
    opacity: 0;
  }
  .modalBg .modalPop ._popCon {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #acacac;
  }
  .modalBg .modalPop ._popCon::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .modalBg .modalPop ._popBar {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    font-size: 16px;
    line-height: calc(28 / 20);
    font-weight: 500;
    box-sizing: border-box;
  }
  .modalBg .modalPop ._popBar input {
    position: absolute;
    top: 0;
    left: 0;
  }
  .modalBg .modalPop ._popBar input:checked ~ label {
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
  }
  .modalBg .modalPop ._popBar label {
    cursor: pointer;
    color: #888;
    padding: 18px 20px;
  }
  .modalBg .modalPop ._popBar span {
    cursor: pointer;
    padding: 18px 20px;
  }
  @media screen and (max-width: 1280px) {
    .modalBg .modalPop ._popBar {
      font-size: 16px;
    }
    .modalBg .modalPop ._popBar label {
      padding: 10px 15px;
    }
    .modalBg .modalPop ._popBar span {
      padding: 10px 15px;
    }
  }
  @media screen and (max-width: 820px) {
    .modalBg .wrap._mob .modalPop {
      z-index: 9999;
      opacity: 1;
      border-radius: 16px;
    }
    .modalBg .wrap._mob .modalPop ._popBar {
      font-size: 14px;
    }
    .modalBg .wrap._mob .modalPop ._popBar label {
      padding: 17px 16px;
    }
    .modalBg .wrap._mob .modalPop ._popBar span {
      padding: 17px 16px;
    }

    .modalBg .wrap{ display: block; }
    .modalBg .wrap .modalPop{ width: 100%; max-width: 220px; margin: 0 auto; margin-bottom: 10px; }
  }
  @media screen and (max-width: 500px) {
    .modalBg .wrap._mob .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 3px;
    }
  }
