._menu {
    margin-top: 47px;
    padding-bottom: 160px;
    word-break: keep-all;
  }
  ._menu .item {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
  }
  ._menu .item li {
    position: relative;
  }
  ._menu .item li .front.up {
    opacity: 0;
    transform: translateY(-80px);
  }
  ._menu .item li .back.up {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  ._menu .item li .front { /* 정면 */
    transition: all 0.5s ease-in-out;
  }
  ._menu .item li .front::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 22px;
    width: 81px;
    height: 80px;
    background-size: cover;
    transition: all 0.5s;
  }
  ._menu .item li .front .img-box {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }
  ._menu .item li .front .img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ._menu .item li .front .txt-box {
    text-align: center;
    margin-top: 16px;
  }
  ._menu .item li .front .txt-box em {
    display: block;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 4px;
  }
  ._menu .item li .front .txt-box small {
    color: #E70017;
    text-align: center;
    font-family: 'Mont-Bold', 'Pretendard';
    font-size: 20px;
  }

  /* 후면 */
  ._menu .item li .back { 
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (max-width: 1024px){
    ._menu .item li .front{ transition: all 0.3s ease-in-out; }
    ._menu .item li .back{ transition: all 0.3s ease-in-out; }
  }
  ._menu .item li .back strong {
    color: #E70017;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
  ._menu .item li .back p {
    color: #242424;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding: 16px 0;
  }
  ._menu .item li .back .price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  ._menu .item li .back .price > div {
    display: inline-flex;
    align-items: center;
  }
  ._menu .item li .back .price > div small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  ._menu .item li .back .price > div small span {
    color: #FFF;
    font-family: 'Mont-Bold';
    font-size: 18px;
    font-weight: 400;
    transform: translateY(1px);
  }
  ._menu .item li .back .price > div em {
    color: #000;
    font-size: 20px;
    font-weight: 700;
  }
  ._menu .item li .back .price .m {
    margin-right: 20px;
  }
  ._menu .item li .back .price .m:last-of-type{ margin-right: 0; }
  ._menu .item li .back .price .m small {
    background-color: #E70017;
  }
  ._menu .item li .back .price .l small {
    background-color: #FFA108;
  }
  ._menu .item li .back .sub-btn {
    margin-top: 40px;
  }

  /* new&best */
  ._menu .item li.new .front::after {
    background-image: url(/asset/img/main/new.png);
  }
  ._menu .item li.best .front::after {
    background-image: url(/asset/img/main/best.png);
  }

  /* 메뉴 팝업 */
  .menu-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1024px;
    max-height: 810px;
    width: 95%;
    height: 95%;
    z-index: 101;
    background-color: #fff;
    padding: 60px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .menu-popup .con .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .menu-popup .con{ height: 100%; overflow: auto; }
  .menu-popup .con::-webkit-scrollbar{ width: 5px; }
  .menu-popup .con::-webkit-scrollbar-thumb{ width: 5px; border-radius: 5px; background-color: #ddd; }
  .menu-popup .con .top strong {
    display: block;
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
  .menu-popup .con .col img{ width: auto !important; height: 100% !important; }
  .menu-popup .con .col > br { /* // br 들어가있는거 삭제 */
    display: none;
  }
  .menu-popup .con .col em {
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .menu-popup .con .col .con {
    padding: 26px 20px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
  }
  .menu-popup .con .col .con span {
    color: #888;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
  }
  .menu-popup .con .col.n2 {
    margin: 40px 0;
  }

  /* 테이블 */
  .menu-popup .con .table-box {
    width: 100%;
    overflow: auto;
  }
  .menu-popup .con .table-box table {
    border-collapse: collapse;
    width: 904px;
    table-layout: fixed;
    border-top: 1px solid #CECECE;
  }
  .menu-popup .con .table-box table tr {
    width: 100%;
  }
  .menu-popup .con .table-box table th {
    background-color: #F2F2F2;
    color: #4B4B4B;
  }
  .menu-popup .con .table-box table td {
    color: #8b8b8b;
  }
  .menu-popup .con .table-box table th, .menu-popup .con .table-box table td {
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    height: 72px;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: -0.01em;
    padding: 10px;
    box-sizing: border-box;
    width: calc((100% - 103px) / 9);
    border-bottom: 1px solid #CECECE;
  }
  .menu-popup .con .table-box table .width-103 {
    width: 103px;
  }

  /* 회색 배경 */
  .gray-bg {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  @media screen and (max-width: 1024px) {
    ._menu .item {
      grid-template-columns: repeat(2, 1fr);
      max-width: 750px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    ._menu .item li .front .txt-box em {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 8px;
    }
    ._menu .item li .front .txt-box small {
      font-size: 18px;
      line-height: 1.2;
    }
    ._menu .item li .front::after {
      top: 0;
      right: 0;
      width: 70px;
      height: 70px;
    }

    /* 클릭시 나오는 정보 */
    ._menu .item li .back strong {
      font-size: 22px;
      line-height: 1.2;
    }
    ._menu .item li .back p {
      font-size: 18px;
    }
    ._menu .item li .back .price > div em {
      font-size: 16px;
      line-height: 1;
    }
    ._menu .item li .back .price > div small {
      width: 24px;
      height: 24px;
    }
    ._menu .item li .back .price > div small span {
      font-size: 14px;
    }

    /* 팝업 */
    .menu-popup .con .table-box table tr, .menu-popup .con .table-box table th, .menu-popup .con .table-box table td {
      font-size: 16px;
      line-height: 20px;
      padding: 0;
      width: 60px;
      height: 60px;
    }
    .menu-popup .con .table-box table th.width-103 {
      min-width: 60px;
      max-width: 80px;
    }
  }
  @media screen and (max-width: 768px) {
    ._menu {
      padding-bottom: 100px;
    }

    /* 클릭시 나오는 정보 */
    ._menu .item li .back .price {
      flex-direction: column;
      align-items: center;
    }
    ._menu .item li .back .price .m {
      margin-right: 0;
      margin-bottom: 5px;
    }

    /* 팝업 */
    .menu-popup {
      padding: 20px;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .menu-popup .con .top {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .menu-popup .con .top strong {
      font-size: 32px;
      font-weight: 700;
    }
    .menu-popup .con .top .cancel {
      position: absolute;
      top: 20px;
      right: 16px;
    }
    .menu-popup .con .top .cancel img {
      width: 24px;
    }
    .menu-popup .con .col em {
      font-size: 18px;
      font-weight: 700;
    }
    .menu-popup .con .col .con {
      padding: 11px 0;
    }
    .menu-popup .con .col .con span {
      font-size: 14px;
    }
    .menu-popup .con .col.n2 {
      margin: 32px 0;
    }
    .menu-popup .con .table-box table {
      min-width: 100%;
      width: auto;
    }
    .menu-popup .con .table-box table tr, .menu-popup .con .table-box table th, .menu-popup .con .table-box table td {
      font-size: 14px;
      min-width: 48px;
      width: 48px;
      height: 48px;
      padding: 0;
    }
  }
  @media screen and (max-width: 480px) {
    ._menu.pizza .wrap {
      width: calc(100% - 80px);
    }
    ._menu .item {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }
    ._menu .item li .front .img-box img {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
    ._menu .item li .front .txt-box {
      margin-top: 12px;
    }
    ._menu .item li .front .txt-box em {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 8px;
    }
    ._menu .item li .front .txt-box small {
      font-size: 16px;
      line-height: 1;
    }
    ._menu .item li .front::after {
      width: 60px;
      height: 60px;
      top: 16px;
      right: 16px;
    }

    /* 클릭시 나오는 정보 */
    ._menu .item li .back strong {
      font-size: 24px;
      line-height: 1;
    }
    ._menu .item li .back p {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
    }
    ._menu .item li .back .price {
      width: 95vw;
      align-self: center;
      flex-direction: row;
    }
    ._menu .item li .back .price .m {
      margin-bottom: 0;
      margin-right: 12px;
    }
    ._menu .item li .back .sub-btn { /* 버튼 */
      margin-top: 32px;
    }

    /* 팝업 */
    .menu-popup .con .top strong {
      font-size: 24px;
    }
    .menu-popup .con .col em {
      font-size: 16px;
    }
    .menu-popup .con .col .con span {
      font-size: 12px;
    }
    .menu-popup .con .table-box table tr, .menu-popup .con .table-box table th, .menu-popup .con .table-box table td {
      font-size: 12px;
    }
  }
  


  /* 2차카테고리 추가 */
  ._menu .second_tab{ margin-bottom: 70px; margin-top: -20px; }
  ._menu .second_tab .tabs{ display: flex; align-items: center; }
  ._menu .second_tab .tabs li{ margin-right: 10px; }
  ._menu .second_tab .tabs li:last-of-type{ margin-right: 0; }
  ._menu .second_tab .tabs li > a{ display: flex; padding: calc(14 / 20 * 1em) calc(20 /20 * 1em); border-radius: calc(50 / 20 * 1em); align-items: center; justify-content: center; font-size: 20px; font-weight: 700; border-radius: 40px; letter-spacing: -0.02em; transition-duration: 0.2s; }
  ._menu .second_tab .tabs li.on > a{ background-color: #131313; color: #fff; }

  @media screen and (min-width: 821px){
    ._menu .second_tab .tabs li > a:hover{ background-color: #131313; color: #fff; }
  }

  @media screen and (max-width: 1024px){
    ._menu .second_tab .tabs li > a{ font-size: 16px; }
  }

  @media screen and (max-width: 500px){
    ._menu .second_tab .tabs{ justify-content: center; }
    ._menu .second_tab .tabs li > a{ font-size: 14px; line-height: calc(15.23/14*1em); padding: 10px 16px;}
  }